VITE_FIREBASE_API_KEY = "string-example"
VITE_FIREBASE_AUTH_DOMAIN = "string-example"
VITE_FIREBASE_PROJECT_ID = "string-example"
VITE_FIREBASE_STORAGE_BUCKET = "string-example"
VITE_FIREBASE_MESSAGING_SENDER_ID = "string-example"
VITE_FIREBASE_APP_ID = "string-example"
VITE_FIREBASE_MEASUREMENT_ID = "string-example"